UPWORK_CLIENT_ID=your_client_id_here
UPWORK_CLIENT_SECRET=your_client_secret_here
UPWORK_CALLBACK_URL=http://localhost:3000/callback

FREELANCER_CLIENT_ID=your_freelancer_client_id_here
FREELANCER_CLIENT_SECRET=your_freelancer_client_secret_here
FREELANCER_CALLBACK_URL=http://localhost:3000/callback
FREELANCER_SCOPE=basic
FREELANCER_ADVANCED_SCOPES=

GMAIL_CLIENT_ID=your_google_oauth_client_id_here
GMAIL_CLIENT_SECRET=your_google_oauth_client_secret_here
GMAIL_CALLBACK_URL=http://localhost:3000/callback

GCALENDAR_CLIENT_ID=your_google_oauth_client_id_here
GCALENDAR_CLIENT_SECRET=your_google_oauth_client_secret_here
GCALENDAR_CALLBACK_URL=http://localhost:3000/callback
