UPWORK_CLIENT_ID=your_client_id_here
UPWORK_CLIENT_SECRET=your_client_secret_here
UPWORK_CALLBACK_URL=http://localhost:3000/callback

FREELANCER_CLIENT_ID=your_freelancer_client_id_here
FREELANCER_CLIENT_SECRET=your_freelancer_client_secret_here
FREELANCER_CALLBACK_URL=http://localhost:3000/callback
FREELANCER_SCOPE=basic fln:user:email
FREELANCER_ADVANCED_SCOPES=
FREELANCER_BASE_URL=https://www.freelancer.com

GMAIL_CLIENT_ID=your_google_oauth_client_id_here
GMAIL_CLIENT_SECRET=your_google_oauth_client_secret_here
GMAIL_CALLBACK_URL=http://localhost:3000/callback
GMAIL_SCOPES=https://www.googleapis.com/auth/gmail.modify https://www.googleapis.com/auth/gmail.send

OUTLOOK_CLIENT_ID=your_microsoft_oauth_client_id_here
OUTLOOK_CLIENT_SECRET=your_microsoft_oauth_client_secret_here
OUTLOOK_CALLBACK_URL=http://localhost:3000/callback
OUTLOOK_SCOPES=offline_access User.Read Mail.ReadWrite Mail.Send

ONEDRIVE_CLIENT_ID=your_microsoft_oauth_client_id_here
ONEDRIVE_CLIENT_SECRET=your_microsoft_oauth_client_secret_here
ONEDRIVE_CALLBACK_URL=http://localhost:3000/callback
ONEDRIVE_SCOPES=offline_access User.Read Files.ReadWrite.All

GCALENDAR_CLIENT_ID=your_google_oauth_client_id_here
GCALENDAR_CLIENT_SECRET=your_google_oauth_client_secret_here
GCALENDAR_CALLBACK_URL=http://localhost:3000/callback
GCALENDAR_SCOPES=https://www.googleapis.com/auth/calendar

GDRIVE_CLIENT_ID=your_google_oauth_client_id_here
GDRIVE_CLIENT_SECRET=your_google_oauth_client_secret_here
GDRIVE_CALLBACK_URL=http://localhost:3000/callback
GDRIVE_SCOPES=https://www.googleapis.com/auth/drive

NOTION_CLIENT_ID=your_notion_oauth_client_id_here
NOTION_CLIENT_SECRET=your_notion_oauth_client_secret_here
NOTION_CALLBACK_URL=http://localhost:3000/callback
NOTION_VERSION=2022-06-28
